
<div class = "container">
	<div class = "row">
		<div class = "col-xs-9">

		<!------- エラーメッセージ ------->
			<% if @tourist.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= @tourist.errors.count %>件のエラーが発生しました。</h2>
			      <ul>
			      <% @tourist.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
		    <% end %>
		<!------- エラーメッセージ ------->


			<h1><%= @tourist.name %>さんの情報変更画面</h1>
			<%= form_for(@tourist, url: tourist_tourist_path(@tourist)) do |f| %>


			<!------- 名前、性別 ------->
				<div class = "tourist-edit-box">
					<div class = "row">
						<div class="field col-xs-3">
						    <%= f.label :姓 %><br />
						    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
					  	</div>

						<div class="field col-xs-3">
						  <%= f.label :名 %><br />
						  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
						</div>

						<div class="field col-xs-3">
							<%= f.label :性別 %><br />
						  <%= f.select :sex,[["女性", "女性"], ["男性", "男性"]], :prompt => "--性別--"  %>
						</div>
					</div>
				</div>
			<!------- 名前、性別 ------->


			<!------- 生まれ年、電話番号、メアド ------->
				<div class = "tourist-edit-box">
					<div class = "row">
						<div class="field col-xs-3">
						  <%= f.label :生まれ年（西暦） %><br />
						 <%= f.text_field :birth_year, autofocus: true, autocomplete: "birth_year" %>年
						</div>

						<div class="field col-xs-3">
						  <%= f.label :電話番号 %><br />
						  <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
						</div>

						<div class="field col-xs-3">
						  <%= f.label :email %><br />
						  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
						</div>
					</div>
				</div>
			<!------- 生まれ年、電話番号、メアド ------->


			<!------- 国籍、郵便番号、住所 ------->
				<div class = "tourist-edit-box">
					<div class = "row">
						<div class="field col-xs-3">
						  <%= f.label :国籍 %><br />
						  <%= f.text_field :nationality, autofocus: true, autocomplete: "nationality" %>
						</div>

						<div class="field col-xs-3">
						  <%= f.label :郵便番号 %><br />
						  <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
						</div>

						<div class="field col-xs-3">
						  <%= f.label :住所 %><br />
						  <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
						</div>
					</div>
				</div>
			<!------- 国籍、郵便番号、住所 ------->


				<div class = "row">
					<div class = "col-xs-3">
						<div class="actions">
						  <%= f.submit "情報更新", class: "btn btn-success btn-lg" %>
						</div>
					</div>
				</div>
				<!------- 退会ページ ------->
					<div class = "col-xs-1">
						<%= link_to "退会手続きへ", tourist_tourist_tourist_delete_path(current_tourist), class: "btn btn-danger delete-btn btn-xs" %>
					</div>
			<!------- 退会ページ ------->
			<% end %>
		</div>
	</div>
</div>


