<h1>ツアリスト詳細ページ</h1>
<div class = "container">
	<div class = "row">

	<!----- 予約済みツアー ----->
		<div class = "col-xs-7 col-xs-offset-1">
			<h2><strong><%= current_tourist.name %>さん</strong>が予約した旅行</h2>
			<table class = "table">
				<thead>
					<tr>
						<th class = "text-center">ツアータイトル</th>
						<th class = "text-center">ツアー都市</th>
						<th class = "text-center">参加人数</th>
						<th class = "text-center">合計金額</th>
						<th class = "text-center">ツアータイトル</th>
						<th class = "text-center">さらなる情報</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
						<tr class = "text-center">
							<td><%= order.tour_title %></td>
							<td><%= order.tour_city %></td>
							<td><%= order.total_people %>名</td>
							<td>¥ <%= number_with_delimiter(order.price) %></td>
							<td><%= order.guide.family_name %> <%= order.guide.name %></td>
							<td><%= link_to "ツアー詳細へ", tourist_tour_path(order.tour_id), class: "btn btn-default" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<!----- 予約済みツアー ----->


	<!---- ツーリスト登録情報 ---->
		<div class = "col-xs-3" col-xs-offset-1>
			<h3><%= current_tourist.name %>さん</strong>の登録情報</h3>
			<div class="panel panel-default">
				<div class="panel-heading text-center">
			    	<h3 class="panel-title">
			    		<%= link_to "内容変更", edit_tourist_tourist_path(current_tourist), class: "btn btn-success btn-lg" %>
			    	</h3>
				</div>
				<div class="panel-body">
				    <p class = "tourist-info-text">
				    	<strong>名前：</strong> <%= current_tourist.family_name %> <%= current_tourist.name %><br/>
				    	<strong>国籍：</strong> <%= current_tourist.nationality %><br/>
				    	<strong>性別：</strong> <%= current_tourist.sex %><br/>
				    	<strong>生まれ年：</strong> <%= current_tourist.birth_year %>年<br/>
				    	<strong>電話番号：</strong> <%= current_tourist.phone_number %><br/>
				    	<strong>メールアドレス：</strong><br/>
				    	 <%= current_tourist.email %>
				    </p>
				</div>

				<div class="panel-body">
					<h3><strong>住所</strong></h3>
				    <p>
				    	〒 <%= current_tourist.postal_code %><br/>
				    	   <%= current_tourist.address %>
				    </p>
				</div>
			</div>
		</div>
	<!---- ツーリスト登録情報 ---->
	</div>
</div>
