<h1>ツアー前日はキャンセルできません</h1>
<div class = "tourist-tourist-order-container" >

		<!------- ツアー開始前一覧 ------->
			<div class = "tourist-tourist-order-table">
				<h2><strong><%= current_tourist.name %>さん</strong>が予約している旅行リスト</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー開始前" %>
								<tr class = "text-center">
									<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
									<td><%= order.tour_title %></td>
									<td><%= order.tour_city %></td>
									<td><%= order.total_people %>名</td>
									<td>¥ <%= number_with_delimiter(order.price) %></td>
									<td><%= order.guide.family_name %> <%= order.guide.name %></td>
									<td>
										<%= link_to "ツアー詳細へ", tourist_tourist_tour_path(current_tourist, order.tour_id), class: "btn btn-default" %>
									</td>
									<td>
										<%= link_to "キャンセル", tourist_tourist_order_path(current_tourist,order), method: :delete,data: {confirm:'このツアーを本当にキャンセルしてもよろしいですか？キャンセル料が発生する可能性があります。'}, class: "btn btn-danger" %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		<!------- ツアー開始前一覧 ------->


		<!------- 明日のツアー一覧 ------->
			<div class = "tourist-tourist-order-table">
				<h2><strong><%= current_tourist.name %>さん</strong>さんの明日のツアー</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー前日" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		<!------- 明日のツアー一覧 ------->


		<!------- 今日のツアー一覧 ------->
			<div class = "tourist-tourist-order-table">
				<h2><strong><%= current_tourist.name %>さん</strong>さんの今日のツアー</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー当日" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		<!------- 今日のツアー一覧 ------->


		<!------- ツアー済み一覧、コメント機能 ------->
			<div class = "tourist-tourist-order-table">
				<h2><strong><%= current_tourist.name %>さん</strong>のツアー済みリスト</h2>
				<table class = "table">
					<thead>
						<tr>
							<th class = "text-center">ツアータイトル</th>
							<th class = "text-center">ツアー都市</th>
							<th class = "text-center">参加人数</th>
							<th class = "text-center">合計金額</th>
							<th class = "text-center">レビューを書きましょう！</th>
							<th class = "text-center">さらなる情報</th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー終了" %>
								<tr class = "text-center">
									<td><%= order.tour_title %></td>
									<td><%= order.tour_city %></td>
									<td><%= order.total_people %>名</td>
									<td>¥ <%= number_with_delimiter(order.price) %></td>
									<td>
										<%= form_for(@comment, url: tourist_tourist_tour_comments_path(current_tourist, order.tour_id, tour_id: order.tour_id)) do |f| %>
											<div>
												<%= f.text_area :content %>
											</div>
											<div>
												<%= f.submit "送信", class: "btn btn-success" %>
											</div>
										<% end %>
									</td>
									<td><%= link_to "ツアー詳細へ", tourist_tourist_tour_path(current_tourist, order.tour_id), class: "btn btn-default" %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		<!------- ツアー済み一覧 ------->
		</div>
	</div>
</div>


<!---- ツーリスト登録情報 ---->
<div class = "tourist-info-container">
		<h3><%= current_tourist.name %>さん</strong>の登録情報</h3>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
		    	<h3 class="panel-title">
		    		<%= link_to "内容変更", edit_tourist_tourist_path(current_tourist), class: "btn btn-success btn-lg" %>
		    	</h3>
			</div>
			<div class="panel-body">
			    <p class = "tourist-info-text">
			    	<strong>名前：</strong> <%= current_tourist.family_name %> <%= current_tourist.name %><br/>
			    	<strong>国籍：</strong> <%= current_tourist.nationality %><br/>
			    	<strong>性別：</strong> <%= current_tourist.sex %><br/>
			    	<strong>生まれ年：</strong> <%= current_tourist.birth_year %>年<br/>
			    	<strong>電話番号：</strong> <%= current_tourist.phone_number %><br/>
			    	<strong>メールアドレス：</strong><br/>
			    	 <%= current_tourist.email %>
			    </p>
			</div>

			<div class="panel-body">
				<h3><strong>住所</strong></h3>
			    <p>
			    	〒 <%= current_tourist.postal_code %><br/>
			    	   <%= current_tourist.address %>
			    </p>
			</div>
		</div>
</div>
<!---- ツーリスト登録情報 ---->

