<div class = "tour-top-wrapper">

<!----- ツアー写真 ----->
	<div class = "tour-image-wrapper">
		<span class = "guide_book_marks">
		    <i class="fa fa-flag fa-5x" aria-hidden="true" style = "color: red;" ></i>
		    <span class = "guide_book_marks_numbers"><%= @tour.book_marks.count %></span>
		</span>
		<%= render 'tourist/tours/tour_image_wrapper' %>
	</div>
<!----- ツアー写真 ----->



	<div class = "container">
		<div class = "row">
		<!----- ツアー情報（価格等） ----->
			<%= render 'tourist/tours/tour_info', tour: @tour %>
		<!----- ツアー情報（価格等） ----->
			<div class = "col-xs-2">
				<%= form_for(@tour, url: admin_tour_path(@tour)) do |f| %>
					<% if @tour.is_active == true %>
						<span class="col-xs-3">
							<%= f.radio_button :is_active, true , checked: true %>
							<%= f.label :is_active, "販売" %>
						</span>
						<span class="col-xs-4">
							<%= f.radio_button :is_active, false, checked: false %>
							<%= f.label :is_active, "販売停止" %>
						</span>
						<span class="col-xs-5">
				    <% else %>
						<span class="col-xs-3">
							<%= f.radio_button :is_active, true , checked: false %>
							<%= f.label :is_active, "販売" %>
						</span>
						<span class="col-xs-4">
							<%= f.radio_button :is_active, true, checked: true %>
							<%= f.label :is_active, "販売停止" %>
						</span>
					<% end %>
					<span><%= f.submit "更新", class: "btn btn-success" %></span>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- ツアー情報（テキスト） -->
<%= render 'tourist/tours/tour_body_wrapper', tour: @tour, guide_ids: @guide_ids, comments: @comments %>
<!-- ツアー情報（テキスト） -->