
<!----- ツアー画像＆ブックマーク ----->
<div class = "image-wrapper">
	<span class = "book_mark">
		<div id = "book_marks_<%= @tour.id %>">
			<%= render 'tourist/book_marks/book_mark', tour: @tour %>
		</div>
	</span>
</div>
<!----- ツアー画像＆ブックマーク ----->


<!------- ツアー情報詳細 -------->
<div class = "tour-info-wrapper">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-3">
				<div class = "text-left">
					<div class = "left-bar">
						<h1><%= @tour.title %></h1>
						<h4 class = "city-name"><%= @tour.city.name %></h4>
						<h4>ジャンル：<%= @tour.genre.name %></h4>
					</div>
				</div>
			</div>
			<div class = "col-xs-7">
				<div class = "right-bar">
					<table class = "table">
						<thead>
							<th class = "text-center"><h4>案内人</h4></th>
							<th class = "text-center"><h4>定員</h4></th>
							<th class = "text-center"><h4>一人当たりの価格</h4></th>
							<th class = "text-center"><h4>価格に含まれるサービス</h4></th>
							<th class = "text-center"><h4>所要時間</h4></th>
						</thead>
						<tbody class = "text-center">
							<td><h4><%= @tour.guide.name %></h4></td>
							<td><h4><%= @tour.capacity %>人</h4></td>
							<td><h4><%= number_with_delimiter(@tour.price) %>円</h4></td>
							<td><p class = "contents_of_price"><%= @tour.contents_of_price %></p></td>
							<td><h4><%= @tour.time %></h4></td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!------- ツアー情報詳細 -------->


<!----- ツアー情報詳細　説明文 ------>
<div class = "container">
	<div class = "row">
		<div class = "col-xs-4">
			<h2 class = "tour-body-title">ツアー紹介</h2>
		</div>
		<div class = "col-xs-8">
			<h3 class = "tour-body"><%= @tour.body %></h3>
		</div>
	</div>
</div>
<!----- ツアー情報詳細　説明文 ------>