
<div class = "tour-image-wrapper">
<!-- ブックマーク -->
	<% if tourist_signed_in? %>
		<span class = "book_mark">
			<div id = "book_marks_<%= @tour.id %>">
				<%= render 'tourist/book_marks/book_mark', tour: @tour %>
			</div>
		</span>
	<% end %>
<!-- ブックマーク -->

<!----- ツアー写真 ----->
	<%= render 'tour_image_wrapper' %>
<!----- ツアー写真 ----->
</div>





<!------- ツアー情報詳細 -------->
<div class = "tour-info-wrapper">
	<div class = "container">
		<div class = "row">
		<!----- ツアー情報（価格等） ----->
			<%= render 'tour_info', tour: @tour %>
		<!----- ツアー情報（価格等） ----->
			<div class = "col-xs-2">
				<div class = "order-btn">
					<% if tourist_signed_in? %>
						<%= link_to "予約に進む", new_tourist_tourist_order_path(current_tourist, tour_id: @tour.id), class: "btn btn-success btn-lg"  %>
					<% else %>
						<%= link_to "登録して予約しましょう", new_tourist_registration_path, class: "btn btn-success btn-lg"  %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!------- ツアー情報詳細 -------->


<%= render 'tour_body_wrapper', tour: @tour, guide_ids: @guide_ids, comments: @comments %>




