<div class = "tour-top-wrapper">

<!----- ツアー写真 ----->
	<div class = "tour-image-wrapper">
		<span class = "guide_book_marks">
		    <i class="fa fa-flag fa-5x" aria-hidden="true" style = "color: red;" ></i>
		    <span class = "guide_book_marks_numbers"><%= @tour.book_marks.count %></span>
		</span>
		<%= render 'tourist/tours/tour_image_wrapper' %>
	</div>
<!----- ツアー写真 ----->



<!------- ツアー概要 ------->
	<div class = "container">
		<div class = "row">

		<!----- ツアー情報（価格等） ----->
			<%= render 'tourist/tours/tour_info', tour: @tour %>
		<!----- ツアー情報（価格等） ----->

			<div class = "col-xs-2">
				<% if current_guide.id == @tour.guide.id %>
					<%= link_to "編集", edit_tour_guide_guide_tour_path(current_guide, @tour), class: "btn btn-default btn-lg edit-tour-btn" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!------- ツアー概要 ------->



<!-- ツアー情報（テキスト） -->
<%= render 'tourist/tours/tour_body_wrapper', tour: @tour, guide_ids: @guide_ids, comments: @comments %>
<!-- ツアー情報（テキスト） -->
