<div class = "tour-top-wrapper">

<!----- ツアー写真 ----->
	<div class = "tour-image-wrapper">
		<span class = "guide_book_marks">
		    <i class="fa fa-flag fa-5x" aria-hidden="true" style = "color: red;" ></i>
		    <span class = "guide_book_marks_numbers"><%= @tour.book_marks.count %></span>
		</span>
		<%= render 'tourist/tours/tour_image_wrapper' %>
	</div>
<!----- ツアー写真 ----->



<!------- ツアー概要 ------->
	<div class = "container">
		<div class = "row">
		<!----- ツアー情報（価格等） ----->
			<%= render 'tourist/tours/tour_info', tour: @tour %>
		<!----- ツアー情報（価格等） ----->
			<div class = "col-xs-2">
				<% if current_guide.id == @tour.guide.id %>
					<%= link_to "編集", edit_tour_guide_guide_tour_path(current_guide, @tour), class: "btn btn-default btn-lg edit-tour-btn" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!------- ツアー概要 ------->



<div class = "guide-tour-body-wrapper">
	<div class = "container">

	<!------- ツアー詳細説明 -------->
		<div class = "row">
			<% if @tour.is_active == false %>
				<span class = "is_actice_false">
					<h1 class = "is_actice_false_text">販売停止中</h1>
				</span>
			<% end %>
			<div class = "guide-tour-details">
				<div class = "col-xs-4">
					<div class = "guide-body-title">
						<h3><% flash[:notice] %></h3>
						<h2>ツアー内容</h2>
					</div>
				</div>
				<div class = "col-xs-8">
					<h4 class = "guide-body-text"><%= @tour.body %></h4>
				</div>
			</div>
		</div>
	<!------- ツアー詳細説明 -------->


	<!------- ツアーガイド紹介 -------->
		<div class = "row">
			<div class = "guide-tour-details">
				<div class = "col-xs-4">
					<div class = "guide-body-title">
						<h2>ガイド紹介</h2>
						<div class = "guide-tour-guide-introduction">
							<%= attachment_image_tag @tour.guide, :selfy_image, :fill, 100, 100, format: 'jpeg' %>
							<h4><strong><%= @tour.guide.family_name %> <%= @tour.guide.name %></strong></h4>
						</div>
					</div>
				</div>
				<div class = "col-xs-8">
					<div class = "tour-body-wrapper">
						<% if @tour.guide.introduction.blank? %>
							<h4 class = "guide-body-text guide-tour-introduction">
								自分の紹介文を入力しましょう！
								<%= link_to "入力へ", edit_tour_guide_guide_path(current_guide), class: "btn btn-danger" %>
							</h4>
						<% else %>
							<h4 class = "guide-body-text">
								<%= @tour.guide.introduction %>
							</h4>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<!------- ツアーガイド紹介 -------->

	<!----------- 集合場所 ------------>
		<div class = "row">
			<div class = "guide-tour-details">
				<div class = "col-xs-4">
					<div class = "guide-body-title">
						<h2>集合場所</h2>
					</div>
				</div>
				<div class = "col-xs-8">
					<div class = "tour-body-wrapper">
						<h4 class = "guide-body-text">
							<%= @tour.meetingpoint_address %><br/>
							<%= @tour.meetingpoint_introduction %>
						</h4>

					<!----- GoogleMap ----->
						<%= render '/tourist/tours/google_map', tour: @tour %>
					<!----- GoogleMap ----->

					</div>
				</div>
			</div>
		</div>
	<!----------- 集合場所 ------------>


	<!----------- レビュー一覧 ------------>
		<%= render 'tourist/tours/review', comments: @comments %>
	<!----------- レビュー一覧 ------------>

	</div>
</div>