<div class = "tour-top-wrapper">

<!----- ツアー写真 ----->
	<div class = "tour-image-wrapper">
		<span class = "guide_book_marks">
		    <i class="fa fa-flag fa-5x" aria-hidden="true" style = "color: red;" ></i>
		    <span class = "guide_book_marks_numbers"><%= @tour.book_marks.count %></span>
		</span>
		<div class = "container">
			<div class = "row">

				<div class = "col-xs-4">
					<div class = "tour-img-1">
						<%= attachment_image_tag @tour_photos[0], :image, :fill, 380, 350, format: 'jpeg' %>
					</div>
				</div>

				<div class = "col-xs-4">
					<div class = "row">
						<div class = "col-xs-6">
							<div class = "tour-img-2">
								<%= attachment_image_tag @tour_photos[1], :image, :fill, 190, 150, format: 'jpeg' %>
							</div>
						</div>
						<div class = "col-xs-6">
							<div class = "tour-img-3">
								<%= attachment_image_tag @tour_photos[2], :image, :fill, 190, 150, format: 'jpeg' %>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-xs-12">
							<div class = "tour-img-4">
								<%= attachment_image_tag @tour_photos[3], :image, :fill, 395, 190, format: 'jpeg' %>
							</div>
						</div>
					</div>
				</div>

				<div class = "col-xs-4">
					<div class = "tour-img-5">
						<%= attachment_image_tag @tour_photos[4], :image, :fill, 200, 350, format: 'jpeg' %>
					</div>

				</div>

			</div>
		</div>
	</div>
<!----- ツアー写真 ----->



<!------- ツアー概要 ------->
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-3">
				<div class = "text-left">
					<div class = "left-bar">
						<h4><%= @tour.title %></h4>
						<h5 class = "city-name"><%= @tour.city.name %></h5>
						<h5>ジャンル：<%= @tour.genre.name %></h5>
					</div>
				</div>
			</div>
			<div class = "col-xs-7">
				<div class = "right-bar">
					<table class = "table">
						<thead>
							<th class = "text-center"><h5>案内人</h5></th>
							<th class = "text-center"><h5>定員</h5></th>
							<th class = "text-center"><h5>一人当たりの価格</h5></th>
							<th class = "text-center"><h5>価格に含まれるサービス</h5></th>
							<th class = "text-center"><h5>所要時間</h5></th>
						</thead>
						<tbody class = "text-center">
							<td><h5><%= @tour.guide.name %></h5></td>
							<td><h5><%= @tour.capacity %>人</h5></td>
							<td><h5><%= number_with_delimiter(@tour.price) %>円</h5></td>
							<td><p class = "contents_of_price"><%= @tour.contents_of_price %></p></td>
							<td><h5><%= @tour.time %></h5></td>
						</tbody>
					</table>
				</div>
			</div>
			<div class = "col-xs-2">
				<% if current_guide.id == @tour.guide.id %>
					<%= link_to "編集", edit_tour_guide_guide_tour_path(current_guide, @tour), class: "btn btn-default btn-lg edit-tour-btn" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!------- ツアー概要 ------->



<div class = "guide-tour-body-wrapper">
	<div class = "container">

	<!------- ツアー詳細説明 -------->
		<div class = "row">
			<% if @tour.is_active == false %>
				<span class = "is_actice_false">
					<h1 class = "is_actice_false_text">販売停止中</h1>
				</span>
			<% end %>
			<div class = "guide-tour-details">
				<div class = "col-xs-4">
					<div class = "guide-body-title">
						<h3><% flash[:notice] %></h3>
						<h2>ツアー内容</h2>
					</div>
				</div>
				<div class = "col-xs-8">
					<h4 class = "guide-body-text"><%= @tour.body %></h4>
				</div>
			</div>
		</div>
	<!------- ツアー詳細説明 -------->


	<!------- ツアーガイド紹介 -------->
		<div class = "row">
			<div class = "guide-tour-details">
				<div class = "col-xs-4">
					<div class = "guide-body-title">
						<h2>ガイド紹介</h2>
						<div class = "guide-tour-guide-introduction">
							<%= attachment_image_tag @tour.guide, :selfy_image, :fill, 100, 100, format: 'jpeg' %>
							<h4><strong><%= @tour.guide.family_name %> <%= @tour.guide.name %></strong></h4>
						</div>
					</div>
				</div>
				<div class = "col-xs-8">
					<div class = "tour-body-wrapper">
						<% if @tour.guide.introduction.blank? %>
							<h4 class = "guide-body-text guide-tour-introduction">
								自分の紹介文を入力しましょう！
								<%= link_to "入力へ", edit_tour_guide_guide_path(current_guide), class: "btn btn-danger" %>
							</h4>
						<% else %>
							<h4 class = "guide-body-text">
								<%= @tour.guide.introduction %>
							</h4>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<!------- ツアーガイド紹介 -------->

	<!----------- 集合場所 ------------>
		<div class = "row">
			<div class = "guide-tour-details">
				<div class = "col-xs-4">
					<div class = "guide-body-title">
						<h2>集合場所</h2>
					</div>
				</div>
				<div class = "col-xs-8">
					<div class = "tour-body-wrapper">
						<h4 class = "guide-body-text">
							<%= @tour.meetingpoint_address %><br/>
							<%= @tour.meetingpoint_introduction %>
						</h4>

					<!----- GoogleMap ----->
						<%= render '/tourist/tours/google_map', tour: @tour %>
					<!----- GoogleMap ----->

					</div>
				</div>
			</div>
		</div>
	<!----------- 集合場所 ------------>


	<!----------- レビュー一覧 ------------>
		<%= render 'tourist/tours/review', comments: @comments %>
	<!----------- レビュー一覧 ------------>

	</div>
</div>