<!----- 総売上 ----->
<div class = "row">
	<div class = "col-xs-5">
		<table class = "table table-bordered">
			<tr>
				<th class = "active">
					<h3>管理者総売上</h3>
				</th>
				<th>
					<h3>¥ <%= number_with_delimiter(admin_total_sales.floor) %></h3>
				</th>
			</tr>
		</table>
	</div>
</div>
<!----- 総売上 ----->


<!----- 注文一覧 ----->
<div class = "row">
	<div class = "col-xs-10">
		<table class = "table">
			<thead>
				<tr class = "active">
					<th class = "text-center">予約された日</th>
					<th class = "text-center">ツアー価格</th>
					<th class = "text-center">管理者売り上げ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% orders.each do |order| %>
					<tr class = "text-center">
						<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
						<td>¥ <%= number_with_delimiter(order.tour_price) %></td>
						<td>¥ <%= number_with_delimiter(order.admin_sales.floor) %></td>
						<td><%= link_to "詳細", admin_order_path(order), class: "btn btn-default" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<!----- 注文一覧 ----->

