<div class = "room-wrapper">
	<div class = "container">

		<div class = "row">
			<div class = "col-xs-8 col-xs-offset-1">
				<% if @room.messages.count == 0 %>
					<h3>まだメッセージはありません。</h3>
				<% else %>
					<h3><%= @tourist.name %>さんとのチャットルーム</h3>
				<% end %>


		<!------- チャットルーム ------->
				<h3 class = "vacant-message"><%= flash[:warning] %></h3>
				<div class = "chat-field">
				  <% @messages.each do |message| %>
				    <!-- メッセージがguideだったら、メッセージを右に寄せる -->
				    <% unless message.is_tourist %>
					    <div class = "text-right bg-info">
					    	<h4 class = "message"><%= message.content %>  :<%= current_guide.name %>さん</h4>
					    	<span class = "message-time">（<%= message.created_at.to_s(:datetime_jp) %>）</span>
					    </div>

					<% else %>
				    <!-- メッセージがtouristによるものだったら、メッセージを左に寄せる -->
				    	<div class = "text-left bg-warning">
				    		<h4><%= @tourist.name %>さん:  <%= message.content %></h4>
				    		<span class = "message-time">（<%= message.created_at.to_s(:datetime_jp) %>）</span>
				    	</div>
				    <% end %>
				  <% end %>
				</div>
		<!------- チャットルーム ------->
			</div>
		</div>
	</div>


<!------ メッセージ送信 ------->
	<div class = "message-form-field">
		<div class = "contaienr">
			<div class = "row">
				<div class = "col-xs-3 col-xs-offset-9">
					<div class = "btn-to-rooms">
						<%= link_to "チャット一覧へ戻る", tour_guide_guide_rooms_path(current_guide), class: "btn btn-warning" %>
					</div>
					<div class = "message-form">

						<%= form_for [@room, @message], url: tour_guide_guide_room_messages_path(current_guide, @room) do |f| %>
							<%= f.text_field :content %>
						 	<%= f.submit "メッセージを送る", class: "btn btn-success"%>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<!------ メッセージ送信 ------->


</div>

