<div class = "container">
	<div class = "row">
	<h2>ガイド一覧画面</h2>
	  <div class="col-xs-10">
		<table class = "table">
			<thead>
				<tr class= "active">
					<th class = "text-center">会員ID</th>
					<th class = "text-center">登録日（退会日）</th>
					<th class = "text-center">氏名</th>
					<th class = "text-center">メールアドレス</th>
					<th class = "text-center">ステータス</th>
					<th class = "text-center"></th>
				</tr>
			</thead>
			<tbody>
				<% @guides.each do |guide| %>
					<% if guide.deleted_at == nil %>
						<tr class = "text-center">
							<td><%= guide.id %></td>
							<td><%= guide.created_at.to_s(:datetime_jp) %></td>
							<td><%= guide.family_name %> <%= guide.name %></td>
							<td><%= guide.email %></td>
							<td>有効</td>
							<td><%= link_to "詳細へ", admin_guide_path(guide), class: "btn btn-default" %></td>
						</tr>
					<% else %>
						<tr class = "text-center admin_guide_deleted_at">
							<td><%= guide.id %></td>
							<td><%= guide.deleted_at.to_s(:datetime_jp) %></td>
							<td><%= guide.family_name %> <%= guide.name %></td>
							<td><%= guide.email %></td>
							<td>退会済み</td>
							<td><%= link_to "詳細へ", admin_guide_path(guide), class: "btn btn-default" %></td>
						</tr>
					<% end %>
				<%end%>
			</tbody>
		</table>
      </div>
	</div>
</div>


