<div class = "about-first-wrapper">
	<h1 class = "about-container">FANTRAへようこそ</h1>
</div>
<div class = "fantra-second-wrapper">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-12">
				<h3 class = "fantra-headline">FANTRAは人と人を繋げ、好奇心で埋まる非日常を提供するサイトです。</h3>
			</div>
		</div>
	</div>
</div>

<div class = "about-second-wrapper">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-3">
				<h2 class = "about-us-introduction-title">私たちについて</h2>
			</div>
			<div class = "col-xs-9">
				<h3 class = "about-body-text">FANTRAに来てくださりありがとうございます。<br/>
					私たちはツアーガイドとツーリストを繋ぎ、旅先での興奮と安心、そして人の温かみを感じることができるプラットフォーム作りを目指しております。<br/>
				</h3>
				<h3 class = "about-body-text">
					あなただけの希少な体験に出会いましょう。
				</h3>
				<h3 class = "about-body-text">ツアーガイドやホストとして楽しい経験を<br/>
					提供したいと考えている方は<%= link_to "こちらから", new_guide_registration_path %>ご登録ください。
				</h3>

			</div>
		</div>
	</div>
</div>


<div class = "about-third-wrapper">
	<div class = "container">
		<div class = "row">
			<h3 class = "tour-body-text">
				新たな世界、未知なる経験を求めている方は<%= link_to "こちらから", new_tourist_registration_path %>ご登録ください。
			</h3>
			<h4>あなただけの旅を見つけましょう。</h4>

		<!----- ツアー写真 ----->
			<% @tours.each do |tour| %>
				<% if tour.is_active == true %>
					<div class = "col-xs-4">
						<% @tour_photos = tour.tour_photos %>
						<%= link_to home_window_path(tour_id: tour) do %>
							<%= attachment_image_tag @tour_photos[0], :image, :fill, 350, 200, format: 'jpeg',class: "tour-tour-photos-index" %>
							<h3><%= tour.title %>    ¥ <%= number_with_delimiter(tour.price) %></h3>

						<!----- ブックマーク機能 ----->
							<% if tourist_signed_in? %>
								<div class = "show-book-mark">
									<div id = "book_marks_<%= tour.id %>">
										<%= render 'tourist/book_marks/book_mark', tour: tour %>
									</div>
								</div>
							<% end %>
						<!----- ブックマーク機能 ----->

						<% end %>
					</div>
				<% end %>
			<% end %>
		<!----- ツアー写真 ----->

		</div>
		<%= paginate @tours, class: "paginate" %>
	</div>
</div>
