<div class = "container">
	<div class = "row">
		<h1>予約内容確認画面</h1>
		<div class = "confirm-box">
			<div class = "col-xs-3 col-xs-offset-1">

			<!------- 予約するツアー内容 ------->
				<div class="panel panel-default">
					<div class="panel-heading text-center">
				    	<h3 class="panel-title">ツアー内容</h3>
					</div>
					<div class="panel-body">
					    <p>
					    	ツアー名：<strong class = "text-right"><%= @order.tour_title %></strong>
					    </p>
					    <p>
					    	ツアー都市：<strong class = "text-right"><%= @order.tour_city %></strong>
					    </p>
					    <p>
					    	定員：<strong class = "text-right"><%= @order.capacity %>名</strong>
					    </p>
					    <p>
					    	所要時間：<strong class = "text-right"><%= @order.tour_time %></strong>
					    </p>
					    <p class = "order-confirm-text">
					    	ホスト：<strong><%= @order.guide.family_name %> <%= @order.guide.name %></strong>
					    </p>
					</div>

					<div class="panel-body">
						<p>価格に含まれるサービス</p>
					    <p class = "order-confirm-text">
					    	<strong><%= @order.contents_of_price %></strong>
					    </p>
					</div>
					<div class="panel-body">
						<p>合計人数</p>
					    <p class = "order-confirm-text">
					    	<strong><%= @order.total_people %>名</strong>
					    </p>
					</div>

					<div class="panel-body">
						<p>一人当たりの金額</p>
					    <p class = "order-confirm-text">
					    	<strong>¥<%= number_with_delimiter(@order.price) %></strong>
					    </p>
					</div>

					<div class="panel-body">
						<p>合計金額</p>
					    <p class = "order-confirm-text">
					    	¥<%= number_with_delimiter(@order.price) %>　× <%= @order.total_people %>名　＝　<strong>¥<%= number_with_delimiter(@total_price) %></strong>
					    </p>
					</div>
				</div>
			<!------- 予約するツアー内容 ------->


		<!------- orderへ保存 ------->
				<%= form_for(@order, url: tourist_tourist_orders_path) do |f| %>

					<%= f.hidden_field :tourist_id, :value => current_tourist.id %>
					<%= f.hidden_field :tour_id, :value => @order.tour_id %>
					<%= f.hidden_field :guide_id, :value => @order.guide_id %>
					<%= f.hidden_field :tour_title, :value => @order.tour_title %>
					<%= f.hidden_field :tour_body, :value => @order.tour_body %>
					<%= f.hidden_field :tour_city, :value => @order.tour_city %>
					<%= f.hidden_field :companion, :value => @order.companion %>
					<%= f.hidden_field :total_people, :value => @order.total_people %>
					<%= f.hidden_field :contents_of_price, :value => @order.contents_of_price %>
					<%= f.hidden_field :capacity, :value => @order.capacity %>
					<%= f.hidden_field :tour_time, :value => @order.tour_time %>
					<%= f.hidden_field :price, :value => @total_price %>
					<%= f.hidden_field :tour_genre, :value => @order.tour_genre %>
					<%= f.hidden_field :tour_price, :value => @order.tour_price %>
					<% admin_sales = @total_price * 0.12 %>
					<% guide_sales = @total_price * 0.88 %>
					<%= f.hidden_field :admin_sales, :value => admin_sales %>
					<%= f.hidden_field :guide_sales, :value => guide_sales %>

					<div>
						<%= f.submit '予約する', class: "btn btn-success btn-lg" %>
					</div>

				<% end %>
			</div>
		<!------- orderへ保存 ------->


		<!------- 注意事項 ------->
			<div class = "col-xs-7">
				<h2>ツアー説明</h2>
				<h4 class = "order-confirm-body"><%= @order.tour_body %></h4>
				<div class = "oreder-warning">
					<h2>旅行する上での注意</h2>
					<h4>
						ツアーガイドから予約内容に記載されていないサービスを提供しようとし金銭が発生する場合は、トラブルの原因となりますのでお断り頂きますようにお願いいたします。
					</h4>
				</div>
				<div class = "oreder-warning">
					<h2>キャンセルポリシー</h2>
					<h4>ツアー前日からのキャンセルは予約内容に記載されている料金の100%を請求させていただきます。</h4>
				</div>
			</div>
		<!------- 注意事項 ------->

		</div>
	</div>
</div>



