<div class = "container">
	<div class = "row">
	<h2>ツーリスト一覧画面</h2>
	  <div class="col-xs-6">
		<table class = "table">
			<thead>
				<tr class= "active">
					<th class = "text-center">会員ID</th>
					<th class = "text-center">氏名</th>
					<th class = "text-center">メールアドレス</th>
					<th class = "text-center">会員ステータス</th>
					<th class = "text-center"></th>
				</tr>
			</thead>
			<tbody>
				<% @tourists.each do |tour| %>
					<% if tour.deleted_at == nil %>
						<tr class = "text-center">
							<td><%= tour.id %></td>
							<td><%= tour.family_name %> <%= tour.name %></td>
							<td><%= tour.email %></td>
							<td>有効</td>
							<td><%= link_to "詳細へ", admin_tourist_path(tour), class: "btn btn-default" %></td>
						</tr>
					<% else %>
						<tr class = "text-center admin_tour_deleted_at">
							<td><%= tour.id %></td>
							<td><%= link_to admin_tour_path(tour) do %><%= tour.family_name %> <%= tour.name %><% end %></td>
							<td><%= tour.email %></td>
							<td>退会</td>
							<td><%= link_to "詳細へ", admin_tourist_path(tour), class: "btn btn-default" %></td>
						</tr>
					<% end %>
				<%end%>
			</tbody>
		</table>
      </div>
	</div>
</div>


