<h1>ツアーガイド詳細</h1>
<div class = "container">
	<div class = "row">
		<%= form_with(model: @guide, url: tour_guide_guide_path(@guide)) do |f| %>

		    <div class = "col-xs-9 col-xs-offset-3">

		    <!---- エラーメッセージ ---->
		    	<% if @guide.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= @guide.errors.count %>件のエラーが発生しました。</h2>
				      <ul>
				      <% @guide.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
			    <% end %>
			<!---- エラーメッセージ ---->

		    <!---- 姓、名、国籍、身分証明書 ----->
		    	<div class = "row">
		        	<div class = "col-xs-3">
		        	  <%= f.label :姓 %>
		        	  <%= f.text_field :family_name %><br/>
		        	  <%= f.label :名 %>
		        	  <%= f.text_field :name %>
		        	</div>
		        	<div class = "col-xs-3">
		        	  <%= f.label :国籍 %>
		        	  <%= f.text_field :nationality %><br/>
		        	</div>
		        	<div class = "col-xs-3">
		    	 		<%= f.label :身分証明書 %><br/>
		        	  	<%= f.attachment_field :identification_image %>
		    	 	</div>
		    	</div>
		    <!---- 姓、名、国籍、身分証明書 ----->


		    <!---- 郵便番号、住所 ----->
		    	 <div class = "row">
		    	 	<div class = "col-xs-3">
		    	 		<%= f.label :郵便番号 %><br/>
		        	  	<%= f.text_field :postal_code %>
		    	 	</div>
		    	 	<div class = "col-xs-3">
		    	 		<%= f.label :住所 %><br/>
		        	  	<%= f.text_field :address %>
		    	 	</div>
		    	 	<div class = "col-xs-3">
		    	 		<%= f.label :あなたが写っている写真 %><br/>
		        	  	<%= f.attachment_field :selfy_image %>
		    	 	</div>
		    	 </div>
		    <!---- 郵便番号、住所 ----->



		    <!---- 電話番号、メアド ---->
		    	 <div class = "row">
		    	 	<div class = "col-xs-3">
		    	 		<%= f.label :電話番号 %><br/>
		        	  	<%= f.text_field :phone_number %>
		    	 	</div>
		    	 	<div class = "col-xs-3">
		    	 		<%= f.label :メールアドレス %><br/>
		        	  	<%= f.text_field :email %>
		    	 	</div>
		    	 </div>
		    <!---- 電話番号、メアド ---->


		    <!---- 自己紹介 ----->
		    	 <div class = "row">
		    	 	<div class = "col-xs-7">
		    	 		<%= f.label :自己紹介 %>(250文字以内)<br/>
		        	  	<%= f.text_area :introduction, class: "guide-introduction-area" %>
		    	 	</div>
		    	 </div>
		    <!---- 自己紹介 ----->

		    </div>

		    <div class = "row">
		    	<div class = "col-xs-3 col-xs-offset-3">
		    		<%= f.submit  "編集", class: "btn btn-success" %>
		    	</div>
		    	<div class = "col-xs-3 col-xs-offset-3">
					<%= link_to "退会手続きへ", tour_guide_guide_guide_delete_path(current_guide), class: "btn btn-danger delete-btn" %>
				</div>
		    </div>


		<% end %>
	</div>
</div>

