<h1>ツアーガイド詳細画面</h1>
<div class = "container">
	<div class = "row">
		<div class = "col-xs-7 col-xs-offset-1">
			<table class = "table table-bordered">
				<thead>
					<tr>
						<th class = "active text-center"><h4>名前</h4></th>
						<th class = " text-center"><h4><%= @guide.family_name %>  <%= @guide.name %></h4></th>
					</tr>
					<tr>
						<th class = "active text-center"><h4>国籍</h4></th>
						<th class = " text-center"><h4><%= @guide.nationality %></h4></th>
					</tr>
					<tr>
						<th class = "active text-center"><h4>登録住所</h4></th>
						<th class = " text-center">
							<h4>
								〒　<%= @guide.postal_code %><br/>
								<%= @guide.address %>
							</h4>
						</th>
					</tr>
					<tr>
						<th class = "active text-center"><h4>電話番号</h4></th>
						<th class = " text-center"><h4><%= @guide.phone_number %></h4></th>
					</tr>
					<tr>
						<th class = "active text-center"><h4>メールアドレス</h4></th>
						<th class = " text-center"><h4><%= @guide.email %></h4></th>
					</tr>
					<tr>
						<th class = "active text-center guide-identification"><h4>身分証明書</h4></th>
						<th class = " text-center"><%= attachment_image_tag @guide, :identification_image, :fill, 300, 200, format: 'jpeg' %></th>
					</tr>
				</thead>
			</table>
		</div>
		<div class = "col-xs-4">
			<% if @guide.selfy_image_id.nil? %>
				<h4>あなたの写真を追加しましょう！</h4>
			<% end %>
			<%= image_tag 'no_image.jpg', size: '200x200' %>
			<div>
				<%= link_to "編集画面", edit_tour_guide_guide_path(@guide), class: "btn btn-success tour-edit-btn" %>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-7 col-xs-offset-1">
			<% if @tours.count == 0 %>
				<div class = "text-center">
					<h1>最高のツアーを生み出しましょう！</h1>
					<%= link_to "ツアー新規投稿", new_tour_guide_tour_path, class: "btn btn-success btn-lg" %>
				</div>
			<% else %>
				<h1>あなたが提供しているツアー</h1>
				<table class = "table table-bordered">
					<thead>
						<thead>
							<tr>
								<th>ツアー題名</th>
								<th>所要時間</th>
								<th>定員</th>
								<th>価格</th>
								<th>価格に含まれるサービス</th>
							</tr>
						</thead>
						<tbody>
							<% @tours.each do |tour| %>
								<tr>
									<td><%= tour.title %></td>
									<td><%= tour.time %></td>
									<td><%= tour.capacity %></td>
									<td><%= tour.price %></td>
									<td><%= tour.contents_of_price %></td>
								</tr>
							<% end %>
						</tbody>
					</thead>
				</table>
			<% end %>
		</div>
	</div>
</div>
