<div class = "container">
	<div class = "row">
		<h1><strong><%= @order.tour_title %></strong>の現在ステータス：<%= @order.status %></h1>
		<div class = "col-xs-8">
			<table class = "table table-bordered">
				<thead>
					<tr>
						<th class = "active text-center">
							<h4>予約者名</h4>
						</th>
						<th class = " text-center">
							<h4><%= @order.tourist.family_name %> <%= @order.tourist.name %>さん（<%= @order.tourist.nationality %>人）</h4>
						</th>
					</tr>

					<tr>
						<th class = "active text-center">
							<h4>参加人数</h4>
						</th>
						<th class = " text-center">
							<h4><%= @order.total_people %>名</h4>
						</th>
					</tr>

					<tr>
						<th class = "active text-center">
							<h4>ツアー価格</h4>
						</th>
						<th class = " text-center">
							<h4>¥ <%= number_with_delimiter(@order.price) %></h4>
						</th>
					</tr>

					<tr>
						<th class = "active text-center">
							<h4><%= @order.guide.name %>さんの利益</h4>
						</th>
						<th class = " text-center">
							<% order_sales = @order.price * 0.88 %>
							<h4>¥ <%= number_with_delimiter(order_sales.floor) %></h4>
						</th>
					</tr>


				</thead>
			</table>
		</div>

	<!----- 注文ステータス ----->
		<div class = "col-xs-3">
			<%= form_for(@order, url: tour_guide_order_path(@order)) do |f| %>
          		<%= f.select :status, Order.statuses.keys.to_a %>
                <%= f.submit "更新", class: "btn btn-primary" %>
          	<% end %>
		</div>
	<!----- 注文ステータス ----->
	</div>
</div>





