<div class = "container">
	<div class = "row">

	<!----- 予約一覧 ----->
		<div class = "col-xs-7 col-xs-offset-1">
			<table class = "table">
				<thead>
					<tr>
						<th class = "text-center">予約者</th>
						<th class = "text-center">国籍</th>
						<th class = "text-center">参加人数</th>
						<th class = "text-center">手数料12%を引いた売り上げ</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
						<tr class = "text-center">
							<td>
								<%= order.tourist.family_name %> <%= order.tourist.name %>
							</td>
							<td>
								<%= order.tourist.nationality %>
							</td>
							<td>
								<%= order.total_people %>名
							</td>

							<td>
								¥ <%= number_with_delimiter(order.price) %>
							</td>
							<td>
								<%= link_to "注文情報詳細へ", edit_tour_guide_order_path(order), class: "btn btn-success" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<!----- 予約一覧 ----->

	<!---- 売り上げ表 ----->
		<div class = "col-xs-3">
			<table class = "table table-bordered">
				<tr>
					<th class = "active">
						<h3>総売上</h3>
					</th>
					<th>
						<h3>¥ <%= number_with_delimiter(@order_sales) %></h3>
					</th>
				</tr>
			</table>
		</div>
	<!---- 売り上げ表 ----->

	</div>
</div>