<div class = "container">
	<div class = "row">
		<h2>予約ステータスを変更しましょう！</h2>
<!------ 総利益 ------>
		<div class = "col-xs-3">
			<table class = "table table-bordered">
				<tr>
					<th class = "active">
						<h3>総利益</h3>
					</th>
					<th>
						<h3>¥ <%= number_with_delimiter(@guide_total_sales) %></h3>
					</th>
				</tr>
			</table>
		</div>
	</div>
<!------ 総利益 ------>


<!------ 現在の予約状況 ------>
	<div class = "row">
		<div class = "col-xs-8">
			<div class = "bg-success">
				<h2>現在の予約</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー開始前" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!------ 現在の予約状況 ------>



<!------ ツアー前日の予約 ------>
	<div class = "row">
		<div class = "col-xs-8">
			<div class = "bg-info">
				<h2>ツアー前日</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー前日" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!------ ツアー前日の予約 ------>



<!------ ツアー当日の予約 ------>
	<div class = "row">
		<div class = "col-xs-8">
			<div class = "bg-success">
				<h2>本日のツアー</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー当日" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!------ ツアー当日の予約 ------>



<!------ 現在ツアー中の予約 ------>
	<div class = "row">
		<div class = "col-xs-8">
			<div class = "bg-info">
				<h2>ツアー中</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー中" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!------ 現在ツアー中の予約 ------>



<!------ 終了済みツアー ------>
	<div class = "row">
		<div class = "col-xs-8">
			<div class = "bg-success">
				<h2>終了済みツアー</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー終了" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!------ 終了済みツアー ------>
</div>




