<!DOCTYPE html>
<html>
  <head>
    <title>FANTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>

      <!-- 管理者ロゴ -->
        <% if admin_signed_in? %>
          <%= link_to "FANTRA", admin_home_top_path, class: "logo" %>

      <!-- ツアーガイドロゴ -->
        <% elsif guide_signed_in? %>
          <%= link_to "FANTRA", tour_guide_top_path, class: "logo" %>
          <span class = "guide-my-page-link">
            <%= link_to tour_guide_guide_path(current_guide) do %>
              <span>
                <%= attachment_image_tag current_guide, :selfy_image, :fill, 40, 40, format: 'jpeg', class: "guide_selfy_image" %>
              </span>
              <span class = "login_name">マイページ</span>
            <% end %>
          </span>

      <!-- 観光客ロゴ -->
        <% elsif tourist_signed_in? %>
          <%= link_to "FANTRA", tourist_tours_path, class: "logo" %>
          <%= link_to tourist_tourist_path(current_tourist) do %>
            <span class = "login_name login_tourist_name"><%= current_tourist.name %>さんのマイページ</span>
          <% end %>

      <!-- ログイン前ロゴ -->
        <% else %>
          <%= link_to "FANTRA", root_path, class: "logo" %>
        <% end %>

      <!-- 管理者ログイン時 -->
        <% if admin_signed_in? %>
          <ul>
            <li>
              <%= link_to "ジャンル", admin_genres_path %>
            </li>
            <li>
              <%= link_to "都市", admin_cities_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          </ul>

      <!-- ガイドログイン時 -->
        <% elsif guide_signed_in? %>
          <ul>
            <li>
            <li>
              <%= link_to "ツアー新規投稿", new_tour_guide_tour_path %>
            </li>
            <li>
              <%= link_to "ツアー一覧", tour_guide_tours_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_guide_session_path, method: :delete %>
            </li>
          </ul>
      <!-- 観光客ログイン時 -->
        <% elsif tourist_signed_in? %>
          <ul>
            <li>
                <%= link_to "ログアウト", destroy_tourist_session_path, method: :delete %>
            </li>
            <li>
                <%= link_to "ブックマーク", tourist_book_mark_path %>
            </li>
          </ul>
        <!-- ログアウト時 -->
        <% else %>
          <ul>
            <li>
                <%= link_to "ツーリストログイン", tourist_session_path %>
            </li>
            <li>
                <%= link_to "ツアーガイドログイン", guide_session_path %>
            </li>
          </ul>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>