<!DOCTYPE html>
<html>
  <head>
    <title>FANTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>

      <!----- 管理者ロゴ ----->
        <% if admin_signed_in? %>
          <%= link_to "FANTRA", admin_home_top_path, class: "logo" %>


      <!----- ツアーガイドロゴ ----->
        <% elsif guide_signed_in? %>
          <%= link_to "FANTRA", tour_guide_top_path, class: "logo" %>
          <span class = "guide-my-page-link">
            <%= link_to tour_guide_guide_path(current_guide) do %>
              <span>
                <%= attachment_image_tag current_guide, :selfy_image, :fill, 40, 40, format: 'jpeg', class: "guide_selfy_image" %>
              </span>
              <span class = "login_name">マイページ</span>
            <% end %>
          </span>


      <!----- 観光客ロゴ ----->
        <% elsif tourist_signed_in? %>
          <%= link_to "FANTRA", tourist_tourist_tours_path(current_tourist), class: "logo" %>
          <%= link_to tourist_tourist_path(current_tourist) do %>
            <span class = "login_name login_tourist_name">
              <i class="fas fa-address-card fa-2x"></i>
              <%= current_tourist.name %>さんのマイページ
            </span>
          <% end %>
      <!----- 検索 ----->
          <span class = "header-city-search">
            <%= form_tag(tourist_search_search_path, method: :get) do %>
              <%= text_field_tag 'search[content]' %>
              <%= button_tag '<i class="fa fa-search"></i>都市検索'.html_safe, :type => "submit",:class =>"btn btn-default" %>
            <% end %>
          </span>
      <!----- 検索 ----->


      <!----- ログイン前ロゴ ----->
        <% else %>
          <%= link_to "FANTRA", root_path, class: "logo" %>
        <% end %>



      <!----- 管理者ログイン時 ----->
        <% if admin_signed_in? %>
          <ul>
            <li>
              <%= link_to "チャット", admin_rooms_path %>
            </li>
            <li>
              <%= link_to "注文", admin_orders_path %>
            </li>
            <li>
              <%= link_to "ツアー", admin_tours_path %>
            </li>
            <li>
              <%= link_to "ガイド", admin_guides_path %>
            </li>
            <li>
              <%= link_to "ツーリスト", admin_tourists_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          </ul>
      <!----- 管理者ログイン時 ----->



      <!----- ガイドログイン時 ----->
        <% elsif guide_signed_in? %>
          <ul>
            <li>
              <%= link_to tour_guide_guide_orders_path(current_guide) do %>
                <i class="far fa-calendar-check fa-2x"></i>
                予約
              <% end %>
            </li>
            <li>
              <%= link_to new_tour_guide_guide_tour_path(current_guide) do %>
                <i class="fas fa-file-signature fa-2x"></i>
                ツアー新規投稿
              <% end %>
            </li>
            <li>
              <%= link_to tour_guide_guide_tours_path(current_guide) do %>
                <i class="fas fa-hiking fa-2x"></i>
                ツアー
              <% end %>
            </li>
            <li>
              <%= link_to tour_guide_guide_rooms_path(current_guide) do %>
                <% if unchecked_guide_chat_notices.any? %>
                  <span class = "bell">
                    <i class="far fa-comment fa-2x"></i>
                    <span class = "circle">
                      <i class="fas fa-circle" style = "color: orange;"></i>
                    </span>
                  </span>
                <% else %>
                  <i class="far fa-comment fa-2x"></i>
                <% end %>
                チャット
              <% end %>
            </li>
            <li>
              <%= link_to tour_guide_guide_notifications_path(current_guide) do %>
                <% if unchecked_notifications.any? %>
                  <span class = "bell">
                    <i class="far fa-bell fa-2x"></i>
                    <span class = "circle">
                      <i class="fas fa-circle" style = "color: orange;"></i>
                    </span>
                  </span>
                <% else %>
                  <i class="far fa-bell fa-2x"></i>
                <% end %>
                通知
              <% end %>
            </li>
            <li>
              <%= link_to destroy_guide_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt fa-2x"></i>
                ログアウト
              <% end %>
            </li>
          </ul>
      <!----- ガイドログイン時 ----->


      <!----- 観光客ログイン時 ----->
        <% elsif tourist_signed_in? %>
          <ul>
            <li>
              <%= link_to tourist_tourist_chat_notices_path(current_tourist) do %>
                <% if unchecked_tourist_chat_notices.any? %>
                  <span class = "bell">
                    <i class="far fa-bell fa-2x"></i>
                      <span class = "circle">
                        <i class="fas fa-circle" style = "color: orange;"></i>
                      </span>
                  </span>
                <% else %>
                  <i class="far fa-bell fa-2x"></i>
                <% end %>
                通知
              <% end %>
            </li>
            <li>
                <%= link_to  destroy_tourist_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-2x"></i>
                  ログアウト
                <% end %>
            </li>
          </ul>
      <!----- 観光客ログイン時 ----->



      <!----- ログアウト時 ----->
        <% else %>
          <ul>
            <li>
                <%= link_to guide_session_path do %>
                  <i class="fas fa-hiking fa-2x"></i>
                  ツアーガイドログイン
                <% end %>
            </li>
            <li>
                <%= link_to tourist_session_path do %>
                  <i class="fas fa-sign-in-alt fa-2x"></i>
                  ログイン
                <% end %>
            </li>
          </ul>
        <% end %>
      <!----- ログアウト時 ----->

      </nav>
    </header>
    <%= yield %>

<!----- footer ----->
    <footer>
      <div class = "container">
        <div class = "row">
          <div class = "col-xs-4 col-xs-offset-1">
            <p>お問い合わせ</p>
          </div>
        </div>
      </div>
    </footer>
<!----- footer ----->

  </body>
</html>